.trash-badge {
  --badge-color: #444;
  --badge-spacing: 16px;

  min-height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 10px var(--badge-spacing);
  background-color: var(--badge-color);
  color: #fff;

  &.is-green {
    --badge-color: #a7d161;
  }
  
  &.is-magenta {
    --badge-color: #e5017c;
  }
  
  &.is-purple {
    --badge-color: #af63e6;
  }
  

  &.is-spaced-medium {
    --badge-spacing: 25px;
  }

  &__icon {
    margin-right: var(--badge-spacing);
  }
}
