@use '../../mixins';

.trash-box {
  --box-color: #eee;
  --box-label-space: 100px;

  position: relative;
  display: block;
  padding: 0;
  padding-top: var(--box-label-space);
  border: 0;
  background-color: transparent;
  cursor: pointer;

  @include mixins.media() {
    padding-top: 20px;  
  }

  &:focus {
    outline: 0;
  }

  &:hover .trash-box__top,
  &:focus-visible .trash-box__top {
    transform: translateY(-20%);
  }

  &.is-yellow {
    --box-color: #ffce00;
  }

  &.is-green {
    --box-color: #8bbf0c;
  }

  &.is-blue {
    --box-color: #0060ee;
  }
  
  &.is-red {
    --box-color: #de2525;
  }

  &.is-dumping {
    .trash-box {
      &__top {
        animation-name: trash-box-open;
        animation-duration: 0.7s;
      }

      &__item-dump {
        animation-name: trash-box-dump-disappear;
        animation-duration: 0.7s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
      }
    }
  }

  &__label {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    display: block;
    width: 100%;
    max-width: var(--box-label-space);
    background-color: var(--box-color);
    color: #fff;
    padding: 5px;
    border-radius: 20px;
    font-size: 12px;
    transform: rotate(-45deg);

    @include mixins.media(400px) {
      font-size: 14px;
    }

    @include mixins.media() {
      position: static;
      margin-bottom: 20px;
      transform: none;
      font-size: 16px;
    }
  }

  &__image {
    position: relative;
  }

  &__top {
    left: 0;
    right: 0;
    top: -5px;
    position: absolute;
    margin: 0 auto;
  
    /* make top slightly visible when closed */
    transition: transform 0.3s;
    transform: translateY(0);
    transform-origin: center bottom;
  }
  
  &__body {
    position: relative;
    background-color: #fff;
  }

  &__item-dump {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    
    transform: scale(0.5);
    transform-origin: center bottom;
  }
}
  
@keyframes trash-box-open {
  50% {
    transform: translateY(-75%);
  }
}

@keyframes trash-box-dump-disappear {
  from {
    opacity: 1;
    transform: scale(1)
  }

  to {
    opacity: 0.7;
    transform: scale(0);
  }
}
