.trash-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 50%;
  background-color: #eee;
  text-align: center;

  &::before {
    content: "";
    padding-top: 100%;
  }
}
